<div class="container">

<form action="/debts" method="POST">

  <div class="form-group">
    <label>Debt Name</label>
    <input type="text" class="form-control" id="inputItem"
    name="debtname" placeholder="Enter Debt Name">
  </div>

  <div class="form-group">
    <label>Debt Total</label>
    <input type="number" class="form-control" id="inputTotal"
    name="debttotal" placeholder="Enter Debt Total">
  </div>

  <div class="form-group">
    <label>Creditor</label>
    <input type="text" class="form-control" id="inputCreditor"
    name="debtcredit" placeholder="Enter Creditor Name">
  </div>

  <div class="form-group">
    <label>Debt Deadline</label>
    <input type="date" class="form-control" id="inputDeadline"
    name="debtdeadline" placeholder="Enter Deadline">
  </div>

  <br/>
  <button type="submit" class="btn btn-primary">Input Debt</button>

</form>

</div>