{% extends "base.html" %}

{% block content %}
  <br/><br/>
  {% include 'debtforms.html' %}
  <border/>
  <br/><br/>
  <div class="container">
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Total Debt</th>
            <th scope="col">Creditor</th>
            <th scope="col">Received</th>
            <th scope="col">Deadline</th>
          </tr>
          </thead>
        <tbody>
          {% for d in debt %}
          <tr>
            <td>{{ d.debtID }}</td>
            <td>{{ d.debtName }}</td>
            <td>{{ "Rp{:,.2f}".format(d.debtTotal) }}</td>
            <td>{{ d.debtCreditor }}</td>
            <td>{{ d.debtReceived.ctime()[0:11] }}</td>
            <td>{{ d.debtDeadline.ctime()[0:11] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="border">
      </div>
      <div class="container">
        <p>Total Debt for <b>{{ dt.ctime()[4:7] }}</b> is:
        <b>{{ "Rp{:,.2f}".format(totaldebt) }}</b></p>
      </div>
{% endblock %}